body {
	margin-left: auto;
    margin-right: auto;
    background-color: gray;
}

h2 {
    text-align: center;
    font-family: 'Josefin Slab', serif;
    font-size: 5em;
}

h3 {
    text-align: center;
    font-family: 'Josefin Slab', serif;
    font-size: 2em;
}

span.bugLarge {
    color: red;
    font-size: 140%;
}

span.bugSmall {
    color: black;
}

form.index {
    margin-top: 5%;
    padding-left: 42.5%;
    font-family: 'Droid Serif', serif;
    font-size: 1.5em;
    font-weight: bold;
}

input[type=radio] {
    width: 35px;
    height:35px;
    vertical-align: middle;
}

table {
    font-family: 'Droid Serif', serif;
    font-size:1.25em;
    margin-left: auto;
    margin-right: auto;
}

input[type="submit"],
input[type="button"],
button {
    background-color:dimgray;
    color: dark black;
    font-size:18px;
	line-height:30px;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border:0;
	text-shadow:gray 0 -1px 0;
	width:200px;
	height:32px;
    margin-left: auto;
    margin-right: auto;
}